#contact {
    background-color: white;
    padding: 2em;
}

#contact-title {
    text-align: center;
}

#contact-form {
    padding: 1em;
    max-width: 500px;
    margin: auto;
}

#contact-spinner {
    margin: auto;
}