/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

html,
body {
    margin: 0;
    padding: 0;
    background-color: map-get($mat-grey, 100);
}

.full-width {
    width: 100%;
    display: block !important;
    margin: auto;
}

button {
    margin-top: 1em !important;
}

.content {
    padding: 2em;
    max-width: 600px;
    margin: auto;
}

header {
    margin: auto;
    text-align: center;
}

main {
    margin: auto;
    padding: 1em;
    max-width: 500px;
}